.row{
    margin-left: 20px;
    color: white;
}
.posterRows{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.posterRows::-webkit-scrollbar{
    display: none;
}

.insideRow{
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 500ms;
}

.insideRow:hover{
    transform: scale(1.09);

}

.largePosterRow {
    max-height: 250px;
}
.largePosterRow:hover{
    transform: scale(1.1);
}